body {
    margin-top: 5%;
    background: url(https://bit.ly/2j9HGE8) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
